.ansible
.idea
.gitconfig
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.config
.cargo
debug.log
libvirttui.lock
remove_all_vms.log
start_virtiofsd
virtiofsd
fix_vnc
show_vnc
venv
assets/libvirttui.pp
assets/libvirttui.mod
