[Desktop Entry]
Name=VM Manager
Comment=Virtual Machine Manager
Exec=ptyxis -- libvirttui
Terminal=false
Type=Application
Icon=/usr/share/icons/libvirttui.png
StartupNotify=true
Categories=System;
